{% extends "layout.html" %}

{% block title %}
    Panels
{% endblock %}

{% block main %}
<form action="/panels" method="post">
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="panel">
            <option disabled selected>Panel Name</option>
            {% for panel in panels %}
                <option value='{{ panel["panel_name"] }}'>{{ panel["panel_name"] }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-info" name="button" type="submit" value="VIEW">View</button>
    <button class="btn btn-info" name="button" type="submit" value="DELETE">Delete</button>
</form>
{% endblock %}  